.todoList--container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 720px) {
  .todoList--container {
    margin: 30px 10px;
  }
}
